*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --neutral: hsl(43, 76%, 92%);
  --theme: hsl(300, 100%, 25%);
  --theme-dark: hsl(300, 100%, 18%);
  --counter: hsl(51, 100%, 50%);
  --font-body: 'Atkinson Hyperlegible', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  --font-strong: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  --main-width: 60em;
  --extended-width: 80em;
  --cellMin: 12em;
  /* --sixpack: calc(var(--cellMin) * 6); */
  container-type: inline-size;
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  src: url('./fonts/AtkinsonHyperlegibleNext-VariableFont_wght.ttf') format('truetype');
}

body {
  font-family: var(--font-body);
  font-size: 1em;
  background-color: var(--neutral);
  text-align: justify;
}


header,
footer {
  text-align: center;
  background-color: var(--theme-dark);
  color: var(--neutral);
  padding-block: 1em;
}

header {
  padding-block: 3.5em;
}

header p,
footer p {
  font-size: 2em;
}

h1 {
  font-size: 3em;
  font-weight: bold;
}


img.logo {
  width: 5em;
}

header img.logo {
  position: absolute;
  top: 1em;
  left: 1em;
}

main {
  max-width: var(--main-width);
  margin: auto;
  padding: 2em;
}

main p,
main ul {
  font-size: 1.5em;
  padding-bottom: 0.8em;
}

section#effect {
  background-color: var(--counter);
  color: var(--theme);
  margin-block: 1em;
}

div#demographics {
  background-color: var(--theme);
  padding: 1.5em 0.5em;
}

section#effect p {
  color: var(--counter);
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  padding: 0;
}

section#effect p:first-of-type {
  padding-bottom: 0.8em;
}


ul#stats {
  list-style-type: none;
  font-family: var(--font-strong);
  text-transform: uppercase;
  font-size: 1em;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
  padding: 0;
  margin: 0;
  padding-bottom: 1em;
}


ul#stats li > span {
  display: block;
  text-align: center;
}

ul#stats li span.bignumber {
  font-size: 5em;
  font-weight: bold;
  padding-bottom: -0.15em;
}

ul#stats li span.bignumber span.unit {
  font-size: smaller;
}

ul#stats li span.disability {
  font-size: 1.5em;
} 



ul#benefits {
  font-size: 1em;
  margin-top: 2em;
  max-width: calc((var(--cellMin) * 4) - 1em);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--cellMin), 1fr));
  gap: 0.5em;
}

/* @container (width > var(--sixpack)) { */
@container (width > 75em) {
  ul#benefits {
    margin-inline: -10em;
    max-width: var(--extended-width);
    /* background-color: aliceblue; */
  }
} 

ul#benefits li {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* outline: black solid 1px; */
}

ul#benefits li img {
  width: 5em;
}

ul#benefits li > span {
  display: block;
  text-align: center;
}

ul#benefits li span.icon_header {
  color: var(--theme);
  font-weight: bold;
  padding-block: 0.4em;
  text-transform: uppercase;
  font-size: 1.2em;
}


ul#benefits li span.icon_desc {
  font-size: 1.2em;
}


div#patterns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1em 0;
  margin: 2em 0;
  background-color: white;
  outline: var(--counter) solid 1px;
}

div#patterns img.example {
  max-width: 25%;
  align-self: center;
}

h2, h3, h4, h5 {
  padding: 0.5em 0;
}

h2 {
  color: var(--theme);
  font-size: 2.1em;
}

h3 {
  color: var(--theme);
  font-size: 1.8em;
}


h4 {
  color: var(--theme-dark);
  font-size: 1.5em;
}


.todo {
  font-weight: bold;
  font-style: italic;
  color: crimson;
}

figure#autodescriptions {
  float: right;
  padding-bottom: 1em;
}

figure#autodescriptions {
  margin-left: 2em;
}

section#anno-query {
  display: flex;
  flex-direction: row;
  align-items: center;
}

section#multimodal_group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-items: center;

  gap: 1em;
  text-align: start;
}

figure#multimodal img {
  width: 40em;
}

figure#querymode {
  margin-right: 2em;
}

figure img {
  width: 38em;
}

figure#querymode img,
figure#querymode figcaption,
figure#autodescriptions img,
figure#autodescriptions figcaption {
  width: 20em;
}

h2#solution-paracharts,
div#conclusion-block {
/* h2#conclusion { */
  color: var(--counter);
  background-color: var(--theme);
  padding-inline: 1em;
  margin: 1em -1.5em;
  font-family: 2.5em;
}

div#conclusion-block {
  display: flex;
  justify-content: space-between;
}

div#conclusion-block h2 {
  color: var(--counter); 
}

div#conclusion-block img {
  width: 4em; 
}

ul {
  margin-left: 2em;
}
 


section.disability-type-grid {
  display: grid;
  grid-template-columns: [heading] min-content [details] auto;
  width: 100%;
  row-gap: 1.25em;
}

section.disability-type-grid h4 {
  grid-column: heading;
  padding-inline: 1.5em;
  align-self: first baseline;
  height: 100%;
  padding-block: 0;
}

section.disability-type-grid details {
  grid-column: details;
  height: 100%;
  align-self: first baseline;
}

section.disability-type-grid h4:nth-of-type(even),
section.disability-type-grid details:nth-of-type(even) {
  background-color: white;
}

section.disability-type-grid details summary {
  font-size: 1.3em;
  font-style: italic;
  padding-top: 0.1em;
} 

details div {
  padding-top: 0.7em;
}

article {
  margin-block: 0.5em;
  margin-top: 3em;
}

article#intro,
article#intro h2,
article#intro p,
article#effect-infoblock {
  margin-block: 0;
  padding: 0;
}

